body{
    font-family:'Times New Roman', Times, serif;
    background-image: url("images/Paris.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
nav div {
    text-align: right;
    font-weight: lighter;
}
nav  p{
    display: inline-block;
    text-align: right;
    color: white;
    font-size: 21px;
    margin-right: 2em;
}
nav  li {
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    font-weight: lighter;
    
}
 nav li  :hover{
     font-weight: bold;
 }

 section {
     text-align: center;
     margin-top: 11em;
     color: white;
     
     
 }
 section h1{
     font-size: 70px;
     font-weight: lighter;
     margin-bottom: 0%;
 }
 section button{
    font-weight: lighter;
     text-align: center;
     margin-top: 1em;
     font-size: 25px;
     color: white;
     background-color:  rgba(255, 255, 255, 0);
     border: 2px solid rgb(255, 255, 255);
     width:unset ;
     padding: 0.3em;
     
    }
    section button p{
        padding: 0;
        margin: 0;
        font-weight: lighter;
    }
    section button p:hover{
        font-weight:bold ;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.75){
        nav ul li p{
            margin-right: 0.5em;
            font-size: 20px;
            text-align: center;
            position: inherit;
        }
    }
    
    @media only screen and (max-width: 667px)
    {
        nav ul  {
            text-align: center;
        }
        nav ul li p{
            margin-right: 0.5em;
            font-size: 20px;
            text-align: center;
            position: inherit;
        }
        section h1{
            font-size: 40px;
        }
        section button{
            font-size: 18px;
        }
    }
